<div class="settings-background">

    <div class="slide-toggles-container">
        <p><mat-slide-toggle style="margin-left: 8rem;" labelPosition="before" class="toggle-slide-um">Configuração 1</mat-slide-toggle></p>
        <br>
        <p><mat-slide-toggle style="margin-left: 8rem;" labelPosition="before" class="toggle-slide-dois">Configuração 2</mat-slide-toggle></p>
        <br>
        <p><mat-slide-toggle style="margin-left: 8rem;" labelPosition="before" class="toggle-slide-tres">Configuração 3</mat-slide-toggle></p>
        <br>
        <p><mat-slide-toggle style="margin-left: 8rem;" labelPosition="before" class="toggle-slide-quatro">Configuração 4</mat-slide-toggle></p>
    </div>
</div>
