/* Corpo da página */
body {
  background-color: #1a73e8; /* Fundo azul */
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* Fundo do formulário */
.form-container {
  background-color: #1a1a1a; /* Fundo escuro */
  width: 40%;
  padding: 2rem;
  margin: 2rem auto;
  border-radius: 0.7rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

/* Título do formulário */
.title {
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  color: white;
  padding: 1rem;
  border-radius: 0.5rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  width: 50%;
  margin: 1.5rem auto;
  background-color: #1a1a1a;
}

/* Estilo dos campos de entrada */
mat-form-field {
  width: 100%;
  display: block;
}

mat-form-field input {
  color: white;
}

/* Ícone de visibilidade da senha */
mat-icon {
  color: white;
}

/* Botão de ação */
.submit-btn {
  background-color: #1a73e8;
  color: white;
  font-size: 1rem;
  font-weight: bold;
  width: 48%; /* Reduzido para ambos os botões ficarem na mesma linha */
  padding: 0.8rem;
  border-radius: 0.4rem;
  transition: 0.3s;
  margin: 0 1%;
}

.submit-btn:hover {
  background-color: #145bb7;
}

/* Botão Voltar com cor vermelha */
.submit-btn.voltar {
  background-color: red;
}

.submit-btn.voltar:hover {
  background-color: darkred;
}

/* Checkboxes */
.checkbox-group {
  text-align: left;
  margin-top: 1rem;
}

mat-checkbox {
  color: white;
}

/* Links adicionais */
.forgot-password {
  text-align: center;
  margin-top: 1rem;
}

.forgot-password a {
  color: #1a73e8;
  text-decoration: none;
  font-weight: bold;
}

.forgot-password a:hover {
  text-decoration: underline;
}

/* Responsividade */
@media (max-width: 768px) {
  .form-container {
      width: 90%;
      padding: 1.5rem;
  }

  .title {
      font-size: 1.5rem;
      width: 70%;
  }

  .submit-btn {
      font-size: 0.875rem;
      padding: 0.6rem;
      width: 45%; /* Reduzido para ambos os botões caberem */
  }
}
